.step2-body{
    padding: 3em;
    margin: 1.25rem 3.125rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 75vw;
}
.step2-container-img{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 8rem;
    width: 75vw;
}

.step2-img{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) translateY(155px);
    width: 10rem;
}

.step2-effect-grass{
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 100vw;
    height: 225px;
    background-color: var(--grass);
    border-radius: 25%;
}