.puzzle-quiz-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
}
.puzzle-runes-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzle-success{
    width:100%;
    margin: 1rem;
    background-color: greenyellow;
}